.first-page-bg {
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;
    background-color: $main-color;

    &_main {
        background-image: url(../img/bg/main-bg.png);

    }

    &_about {
        background-image: url(../img/bg/first-about-bg.png);
    }

    &_sectors {
        background-image: url(../img/bg/first-sectors-bg.png);
    }

    &_innovation {
        background-image: url(../img/bg/first-innovation-bg.png);
    }

    &_values {
        background-image: url(../img/bg/first-values-bg.png);
    }

    &_carriers {
        background-image: url(../img/bg/first-carriers-bg.png);
    }

    &_news {
        background-image: url(../img/bg/first-news-bg.png);
    }

    &_lines {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            height: 20vh;
            width: 1px;
            background-color: #fff;
            top: 0;
            margin-left: 50%;
            transform: translate(-50%);
            z-index: -1;
        }

        &::after {
            content: '';
            position: absolute;
            height: 15vh;
            width: 1px;
            background-color: #fff;
            bottom: 0;
            margin-left: 50%;
            transform: translate(-50%);
            z-index: -1;
        }

    }



}


.first-page {
    position: relative;
    z-index: 20;
    height: 100%;
    min-height: 95vh;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    &__row {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        color: #fff;
        font-size: 95px;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;

        &_about {
            font-size: 75px;
        }

        &_sectors {
            font-size: 65px;
        }
    }
}

.first-page__animation {
    position: absolute;

    img {
        object-fit: contain;
    }

    &_1 {
        bottom: 0;
    }

    &_2 {
        top: 20%;
        right: 25%;

    }

    &_3 {
        top: -100px;
        left: -100px;


    }

    &_4 {
        left: 0;
        top: 50%;


    }

    &_5 {

        right: 60%;
        top: 15%;

    }

    &_6 {
        top: 0;
        right: 20%;

    }

    &_7 {
        right: 30%;
        bottom: 10%;
    }

    &_8 {
        right: 0;
        bottom: -5px;
    }

    &_9 {
        right: 0;
        top: 10%;
    }

    &_10 {
        bottom: -200px;
        left: 22%;
    }

    &_11 {
        top: 50%;
        right: 20%;
    }

    &_12 {
        right: 10%;
        bottom: -100px;
    }

    &_expertise {
        left: 0;
        bottom: 10%;

        img {
            width: 120px;

        }
    }
}

@media(max-width:950px) {
    .first-page-bg {
        background-attachment: scroll;
    }

    .first-page__animation img {
        max-width: 65%;
        width: 100%;

    }

    .first-page__animation {
        &_1 {
            bottom: 0;
        }

        &_2 {
            top: 70%;
            right: 25%;

        }

        &_3 {
            top: -50px;
            left: -50px;


        }

        &_4 {
            left: 0;
            top: 50%;

        }

        &_5 {
            right: 60%;
            top: 25%;

        }

        &_6 {
            top: 0;
            right: 1%;

        }

        &_7 {
            right: 10%;
            bottom: 25%;
        }

        &_8 {
            right: 0;
            bottom: -5px;
        }

        &_9 {
            right: -100px;
            top: 10%;
        }

        &_10 {
            bottom: -200px;
            left: 22%;
        }

        &_11 {
            top: 50%;
            right: 10%;
        }

        &_12 {
            right: 10%;
            bottom: -100px;
        }
    }
}


@media(max-width:768px) {
    .first-page {
        &__title {
            font-size: 52px;
        }
    }

    .first-page__animation {
        &_expertise {
            display: none;
        }
    }
}


@media(max-width:600px) {
    .first-page {
        min-height: 70vh;
    }

    .first-page-bg {
        &_main {
            background-image: url(../img/bg/main-bg-mob.png);
        }

        &_about {
            background-image: url(../img/bg/first-about-bg-mob.png);
        }

        &_sectors {
            background-image: url(../img/bg/first-sectors-bg-mob.png);
        }

        &_news {
            background-image: url(../img/bg/first-sectors-bg-mob.png);
        }

        &_carriers {
            background-image: url(../img/bg/first-sectors-bg-mob.png);
        }

        &_values {
            background-image: url(../img/bg/first-sectors-bg-mob.png);
        }
    }

    .first-page__animation {
        &_1 {
            top: 30%;
            left: -10%;

            img {
                max-width: 150px;
            }
        }

        &_2 {
            top: 70%;
            right: 25%;

        }

        &_3 {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            left: -50px;
            bottom: -50px;

            img {
                flex-shrink: 0;
                max-width: 200px;
            }


        }

        &_4 {
            display: flex;
            justify-content: flex-end;
            right: -25px;
            top: 35%;

            img {
                transform: rotate(180deg);
                max-width: 100px;

            }

        }

        &_5 {
            right: 50%;
            top: 25%;

        }


        &_7 {
            right: 0;
            bottom: 0;
        }

        &_8 {
            display: none;
            justify-content: flex-end;
            right: 0;
            bottom: 0;
            max-width: 150px;

            img {
                flex-shrink: 0;
            }
        }

        &_9 {
            display: none;
        }

        &_10 {
            display: none;
        }

        &_11 {
            display: none;
        }

        &_12 {
            display: none;
        }
    }
}


@media(max-width:425px) {
    .first-page {
        &__title {
            font-size: 42px;

            &_sectors {
                font-size: 24px;
                line-height: 1.5;
            }
        }
    }
}