.news-page__animation {
    position: absolute;

    &_1 {
        max-width: 65%;
        right: -10%;
        top: 15%;
    }

    &_2 {
        right: 5%;
        bottom: -100px;
        z-index: 2;

        img {
            max-width: 35%;

        }
    }

    &_3 {
        bottom: -75px;
        left: -15%;
    }

    &_4 {
        bottom: 10%;
        right: -15%;
    }

    &_5 {
        left: 0;
        top: 15%;
    }

    &_6 {
        top: 15%;
        right: -10%;
    }

    &_7 {
        right: 25%;
        bottom: -5%;
    }

 
}

@media(max-width:1100px) {
    .sectors-animation {
        position: absolute;

        &_1 {
            max-width: 45%;
            left: 30%;
            top: 15%;
        }

        &_2 {
            right: 5%;
            bottom: -100px;
            z-index: 2;

            img {
                max-width: 35%;

            }
        }

        &_3 {
            bottom: -75px;
            left: -35%;
        }

        &_4 {
            bottom: 10%;
            right: -35%;
        }

    }
}

@media(max-width:768px) {
    .sectors-animation {
        position: absolute;

        &_1 {
            max-width: 35%;
            left: 30%;
            top: 10%;
        }

        &_2 {
            right: 5%;
            bottom: -100px;
            z-index: 2;

            img {
                max-width: 35%;

            }
        }

        &_3 {
            max-width: 50%;
            bottom: -75px;
            left: -15%;
        }

        &_4 {
            max-width: 50%;
            bottom: 10%;
            right: -15%;
        }


    }
}

@media(max-width:600px) {
    .sectors-animation {
        position: absolute;

        &_1 {
            display: none;
        }

        &_2 {
            display: none;
        }

        &_3 {
            display: none;
        }

        &_4 {
            display: none;
        }


        //mob

        &_5 {
            display: block;
            right: -20%;
            bottom: 40%;
        }

        &_6 {
            display: block;
            bottom: 0;
            right: -15%;
        }

        &_7 {
            display: block;
            top: 35%;
            left: -15%;
        }
    }
}