<div class="container-fluid">
    <div class="first-page-bg first-page-bg_values first-page-bg_lines">
        <div class="container">

            <!-- first-page -->
            <div class="first-page">
                <div class="first-page__row">
                    <!-- item -->
                    <div class="first-page__item">
                        <!-- animate -->
                    </div>
                    <!-- item -->
                    <div class="first-page__item">
                        <!-- title -->
                        <h1
                            class="first-page__title  first-page__title_values animate__animated animate__fadeInUp animate__delay-1s">
                            Nos Valeurs
                        </h1>
                        <!-- btn -->
                        <a class="btn main-btn main-btn_page-main-bt animate__animated animate__fadeIn  animate__delay-1s"
                            href="hi-fi-dist/page-news.html">
                            nos actualités
                        </a>
                    </div>
                    <!-- item -->
                    <div class="first-page__item">
                        <!-- animate -->
                    </div>
                    <!-- item -->
                </div>
            </div>
        </div>

        <img class="value-page__animation value-page__animation_1 animate__animated animate__fadeIn animate__delay-2s"
            src="img/animation-value/ball-left.png" alt="">

        <img class="value-page__animation value-page__animation_2 animate__animated animate__fadeIn animate__delay-2s"
            src="img/animation-value/rombs-left.png" alt="">

        <img class="value-page__animation value-page__animation_3 animate__animated animate__fadeIn animate__delay-2s"
            src="img/animation-value/rombs-right.png" alt="">

        <img class="value-page__animation value-page__animation_4 animate__animated animate__fadeIn animate__delay-2s"
            src="img/animation-value/ball-right.png" alt="">

        <img class="value-page__animation value-page__animation_5 animate__animated animate__fadeIn animate__delay-2s"
            src="img/animation-value/romb-sm.png" alt="">

        <img class="value-page__animation value-page__animation_6 animate__animated animate__fadeIn animate__delay-2s"
            src="img/animation-value/romb-mob.png" alt="">
    </div>
</div>