<div class="container-fluid">
    <div class="first-page-bg first-page-bg_innovation first-page-bg_lines">
        <div class="container">

            <!-- first-page -->
            <div class="first-page">
                <div class="first-page__row">
                    <!-- item -->
                    <div class="first-page__item">
                        <!-- animate -->
                    </div>
                    <!-- item -->
                    <div class="first-page__item">
                        <!-- title -->
                        <h1 class="first-page__title animate__animated animate__fadeInUp animate__delay-1s">
                            Innovation <br>
                            et conseil
                        </h1>
                        <!-- btn -->
                        <a class="btn main-btn main-btn_page-main-bt animate__animated animate__fadeIn  animate__delay-1s" href="/page-news.html">
                            nos actualités
                        </a>
                    </div>
                    <!-- item -->
                    <div class="first-page__item">
                        <!-- animate -->
                    </div>
                    <!-- item -->
                </div>


                <div class="innovation-page__animation innovation-page__animation_1">
                    <img class="animate__animated animate__fadeInDown  animate__delay-3s" src="img/animation-value/ball-left.png" alt="">
                </div>
        
                <div class="innovation-page__animation innovation-page__animation_2">
                    <img class="animate__animated animate__fadeIn  animate__delay-2s" src="img/animation-innovation/left-items.png" alt="">
                </div>
        
                <div class="innovation-page__animation innovation-page__animation_3">
                    <img class="animate__animated animate__fadeIn  animate__delay-2s" src="img/animation-innovation/right-items.png" alt="">
                </div>
        
                <div class="innovation-page__animation innovation-page__animation_4">
                    <img class="animate__animated animate__fadeIn  animate__delay-3s" src="img/animation-innovation/right-ball.png" alt="">
                </div>
        
              


            </div>
        </div>
    </div>