<div class="container-fluid">
    <div class="first-page-bg first-page-bg_main first-page-bg_lines">
        <div class="container">

            <!-- first-page -->
            <div class="first-page">
                <div class="first-page__row">
                    <!-- item -->
                    <div class="first-page__item">
                        <!-- animate -->
                    </div>
                    <!-- item -->
                    <div class="first-page__item">
                        <!-- title -->
                        <h1 class="first-page__title animate__animated animate__fadeInUp">
                            NOUS REALISONS
                        </h1>
                        <!-- btn -->
                        <a class="btn main-btn main-btn_page-main-bt animate__animated animate__fadeIn  animate__delay-1s" href="/page-news.html">
                            nos actualités
                        </a>
                    </div>
                    <!-- item -->
                    <div class="first-page__item">
                        <!-- animate -->
                    </div>
                    <!-- item -->
                </div>


            </div>
        </div>

        <!-- bob -->
        <div class="first-page__animation first-page__animation_1">
            <img class="wow animate__animated animate__delay-2s animate__rotateInDownLeft"
                src="img/animation-1/first-page_1.png" alt="">
        </div>
        <div class="first-page__animation first-page__animation_2">
            <img class="wow animate__animated animate__delay-2s animate__zoomIn" src="img/animation-1/first-page_5.png"
                alt="">
        </div>

        <!-- small -->
        <div class="first-page__animation first-page__animation_3">
            <img class="wow animate__animated animate__delay-3s animate__zoomIn" src="img/animation-1/first-page_3.png"
                alt="">
        </div>
        <!-- small -->
        <div class="first-page__animation first-page__animation_4">
            <img class="wow animate__animated animate__delay-3s animate__zoomIn" src="img/animation-1/first-page_7.png"
                alt="">
        </div>
        <div class="first-page__animation first-page__animation_5">
            <img class="wow animate__animated animate__delay-3s animate__zoomIn" src="img/animation-1/first-page_5.png"
                alt="">
        </div>
        <!-- bob -->
        <div class="first-page__animation first-page__animation_6">
            <img class="wow animate__animated animate__delay-2s animate__lightSpeedInRight"
                src="img/animation-1/first-page_6.png" alt="">
        </div>
        <!-- small -->
        <div class="first-page__animation first-page__animation_7">
            <img class="wow animate__animated animate__delay-3s animate__zoomIn" src="img/animation-1/first-page_7.png"
                alt="">
        </div>
        <!-- bob -->
        <div class="first-page__animation first-page__animation_8">
            <img class="wow animate__animated animate__delay-2s animate__lightSpeedInRight"
                src="img/animation-1/first-page_8.png" alt="">
        </div>
        <!-- bob -->
        <div class="first-page__animation first-page__animation_9">
            <img class="wow animate__animated animate__delay-3s animate__zoomIn" src="img/animation-1/first-page_9.png"
                alt="">
        </div>
        <!-- small -->
        <div class="first-page__animation first-page__animation_10">
            <img class="wow animate__animated animate__delay-3s animate__zoomIn" src="img/animation-1/first-page_9.png"
                alt="">
        </div>
        <!-- small -->
        <div class="first-page__animation first-page__animation_11">
            <img class="wow animate__animated animate__delay-3s animate__zoomIn" src="img/animation-1/first-page_5.png"
                alt="">
        </div>
        <!-- small -->
        <div class="first-page__animation first-page__animation_12">
            <img class="wow animate__animated animate__delay-3s animate__zoomIn" src="img/animation-1/first-page_10.png"
                alt="">
        </div>
    </div>
</div>