<div class="container-fluid">
    <div class="page-values">
        <div class="container">
            <section class="worth">
                <div class="worth__inner">
                    <div class="worth-center">
                        <div class="worth__title">Le LAB HIGHFI</div>
                        <div class="worth-center__inner">
                            <img src="img/values-ball.png" alt="">
                            <div class="worth__list">

                                <div class="worth-card worth-card_1">
                                    <div class="worth-card__inner">
                                        <div class="worth-card__title">Philosophie:</div>
                                        <div class="worth-card__text">HIGHFI sait réunir les meilleurs grâce à sa
                                            philosophie et une
                                            présélection technique et fonctionnelle poussée en interne. </div>
                                    </div>
                                </div>
                                <div class="worth-card worth-card_2">
                                    <div class="worth-card__inner">
                                        <div class="worth-card__title">Point d’honneur:</div>
                                        <div class="worth-card__text">
                                            HIGHFI met un point d’honneur à suivre de près ses collaborateurs en
                                            missions et se porte garant
                                            de sa disponibilité.
                                        </div>

                                    </div>
                                </div>
                                <div class="worth-card worth-card_3">
                                    <div class="worth-card__inner">
                                        <div class="worth-card__title">Formation:</div>
                                        <div class="worth-card__text">
                                            <p>• Budget dédié à la formation: 12% du CA annuel </p>
                                            <p>• Formation continue de nos collaborateurs</p>
                                            <p>• Mise à niveau technologique et méthodologique</p>
                                            <p>• Certification de l’ensemble de nos collaborateurs </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="worth-card worth-card_4">
                                    <div class="worth-card__inner">
                                        <div class="worth-card__title">Evolution salariale constante:</div>
                                        <div class="worth-card__text">Basée sur eux critères : assiduité en mission
                                            et satisfaction </div>
                                    </div>
                                </div>
                                <div class="worth-card worth-card_5">
                                    <div class="worth-card__inner">
                                        <div class="worth-card__title">Compétences:</div>
                                        <div class="worth-card__text">HIGHFI met à disposition de ses clients des
                                            compétences techniq
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>
        </div>


    </div>
</div>