<div class="container-fluid">
    <div class="section-traingle">
        <section class="composition">
            <div class="container">
                <div class="composition__inner">
                    <div class="composition__title">Trois structures pour une offre complete :</div>
                    <div class="composition__img">
                        <img src="img/bg/triangle-bg.png" alt="">

                        <div class="composition__list">

                            <div class="composition-card composition-card_1">
                                <div class="composition-card__inner">
                                    <div class="composition-card__img">
                                        <span>

                                        </span>
                                    </div>
                                    <div class="composition-card__title">HIGHFI</div>
                                    <div class="composition-card__text composition-card__text_1">Crée en 2016 et
                                        englobant les métiers
                                        de l’infrastructure et de</div>
                                </div>
                            </div>
                            <div class="composition-card composition-card_2">
                                <div class="composition-card__inner">
                                    <div class="composition-card__img">
                                        <span>

                                        </span>
                                    </div>
                                    <div class="composition-card__title">NORMASYS</div>
                                    <div class="composition-card__text composition-card__text_2">Crée en 2016 et
                                        englobant les métiers
                                        de l’infrastructure et de</div>
                                </div>
                            </div>
                            <div class="composition-card composition-card_3">
                                <div class="composition-card__inner">

                                    <div class="composition-card__img">
                                        <span>

                                        </span>
                                    </div>
                                    <div class="composition-card__title">HIGHSYS</div>
                                    <div class="composition-card__text composition-card__text_3">Crée en 2016 et
                                        englobant les métiers
                                        de l’infrastructure et de</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script>
    let compositionCard_1 = document.querySelector(".composition-card_1");
    let compositionCardText_1 = document.querySelector(
        ".composition-card__text_1"
    );
    compositionCard_1.addEventListener("click", function () {
        compositionCardText_1.classList.toggle("composition-card--active");
    });

    let compositionCard_2 = document.querySelector(".composition-card_2");
    let compositionCardText_2 = document.querySelector(
        ".composition-card__text_2"
    );
    compositionCard_2.addEventListener("click", function () {
        compositionCardText_2.classList.toggle("composition-card--active");
    });

    let compositionCard_3 = document.querySelector(".composition-card_3");
    let compositionCardText_3 = document.querySelector(
        ".composition-card__text_3"
    );
    compositionCard_3.addEventListener("click", function () {
        compositionCardText_3.classList.toggle("composition-card--active");
    });
</script>