<div class="container-fluid">
    <div class="left-text">
        <div class="container">
            <!-- row -->
            <div class="left-text__row">
                <!-- item -->
                <div class="left-text__item left-text-content js-offsetTopLeft">
                    <!-- icon -->
                    <img src="img/icons/brain-icon.png" alt="" class="left-text-content__icon">
                    <!-- title -->
                    <h2 class="left-text-content__title">
                        <span class="left-text-content__title-span">
                            conseil
                        </span>
                    </h2>
                    <!-- text -->
                    <p class="left-text-content__text">
                        <img class="left-text__img" src="img/light.png" alt="">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                        rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                        Integer tincidunt.
                     
                    </p>
                </div>
                <!-- item -->
                <div class="left-text__item left-text-img  js-offsetTopRight">
                    <img class="left-text__img" src="img/light.png" alt="">
                </div>
            </div>
            <!-- row -->
        </div>
    </div>
</div>