<div class="container-fluid">
    <div class="left-text">
        <div class="container">
            <!-- row -->
            <div class="left-text__row">
                <!-- item -->
                <div class="left-text__item left-text-content">
                    <!-- title -->
                    <h2 class="left-text-content__title">
                        <span class="left-text-content__title-span">
                            Notre mission:
                        </span>
                    </h2>
                    <!-- text -->
                    <p class="left-text-content__text">
                        <img class="left-text__img left-text__img_mission" src="img/mission.png" alt="">
                        Depuis près de 20 ans le groupe HIGHFI accompagne ses
                        clients dans la réalisation de leurs défis technologiques, métiers stratégiques et
                        méthodologiques.

                        Nous favorisons jour après jours l’innovation, fruit de
                        l’expertise de ses collaborateurs et d’une organisation managériale agile et tourné vers
                        l’avenir.
                        <br><br>
                        Porté par ses 5 pôles d’expertises : l’IT, la business
                        analysis, la BI & data engineering, l’infrastructure et la production et le digit-all, le Groupe
                        à travers 3 structures dédiées par pôles et secteurs d’activités accompagne les grands acteurs
                        de la banque, de la finance et de l’assurance avec efficience et transparence.

                    </p>
                </div>
                <!-- item -->
                <div class="left-text__item left-text-img">
                    <img class="left-text__img" src="img/mission.png" alt="">
                </div>
            </div>
            <!-- row -->
        </div>
    </div>
</div>