<div class="container-fluid">
  <section class="hint">
    <div class="container">
      <div class="hint__inner">
        <div class="hint__text">
          <div class="hint__title"> Conseil </div>
          <p>Accompagnement de nos clients sur la forfaitisation d’une ou partie de leur périmètre applicatif
            entièrement outsourcé dans nos locaux (cas des forfaits et TMA) ou en régie (CDS et ATM). Nous proposons
            plusieurs formes de contrats à engagement de résultat aﬁn de matcher parfaitement le besoin client.</p>
        </div>
        <div class="hint__list-title">Cela se traduit sous plusieurs formes:</div>
        <div class="hint__list">

          <div class="hint-card">
            <div class="hint-card__inner">
              <div class="hint-card__title">Forfait de développement</div>
              <div class="hint-card__img">
                <a class="hint-card__link" data-fancybox data-src="#modal__hint-card_1" href="#modal__hint-card_1"><img
                    src="img/icons/arrows-white.png" alt=""></a>
              </div>
            </div>

          </div>
          <div class="hint-card">
            <div class="hint-card__inner">
              <div class="hint-card__title">TMA</div>
              <div class="hint-card__img">
                <a class="hint-card__link" data-fancybox data-src="#modal__hint-card_2" href="#modal__hint-card_2"><img
                    src="img/icons/arrows-white.png" alt=""></a>
              </div>
            </div>

          </div>
          <div class="hint-card">
            <div class="hint-card__inner">
              <div class="hint-card__title">CDS</div>
              <div class="hint-card__img">
                <a class="hint-card__link" data-fancybox data-src="#modal__hint-card_3" href="#modal__hint-card_3"><img
                    src="img/icons/arrows-white.png" alt=""></a>
              </div>
            </div>

          </div>
          <div class="hint-card">
            <div class="hint-card__inner">
              <div class="hint-card__title">ATM</div>
              <div class="hint-card__img">
                <a class="hint-card__link" data-fancybox data-src="#modal__hint-card_4" href="#modal__hint-card_4"><img
                    src="img/icons/arrows-white.png" alt=""></a>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>



    <div class="sectors-animation-tr sectors-animation-tr_1">
      <img class="  animate__animated animate__zoomInUp animate__delay-1s" src="img/animation-about/single-ball.png"
        alt="">
    </div>
  </section>
</div>