<main class="main main-news">
    <div class="container">
        <section class="news">
            <!-- row -->
            <div class="news__row">
                <!-- item -->
                <div class="news__item">
                    @@include("../../../news/single-news.html")
                </div>
                <!-- item -->
                <!-- item -->
                <div class="news__item">
                    @@include("../../../news/single-news.html")
                </div>
            </div>
            <!-- row -->
            <!-- row -->
            <div class="news__row">
                <!-- item -->
                <div class="news__item">
                    @@include("../../../news/single-news.html")
                </div>
                <!-- item -->
                <!-- item -->
                <div class="news__item">
                    @@include("../../../news/single-news.html")
                </div>
            </div>
            <!-- row -->
        </section>
    </div>
</main>