<div class="container-fluid">
    <div class="first-page-bg">
        <div class="container">
            <!-- first-page -->
            <div class="first-page">
                <!-- title -->
                <h1 class="first-page__title">
                    NOUS REALISONS
                </h1>
                <!-- btn -->
                <a class="btn main-btn main-btn_page-main-bt" href="#">
                    nos actualités
                </a>
            </div>
        </div>
    </div>
</div>




