<div class="page__inner">

    <div class="page__content">
      <section class="sector">
        <div class="container">
          <div class="sector__inner">
            <h2 class="sector__title">
              Secteurs d’activites
            </h2>
            <div class="sector__list">
              <div class="sector-card">
                <div class="sector-card__inner">
                  <div class="sector-card__header">
                    <div class="sector-card__title">Banque & Finance</div>
                    <div class="sector-card__img">
                      <img src="img/icons/circle-btn.png" alt="">
                    </div>

                  </div>
                  <div class="sector-card__content ">
                    <div class="sector-card__text">
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque unde ea quo in doloremque
                        excepturi rem, illum, quisquam, magni veritatis quia impedit molestias quam. Eos deleniti fugiat
                        distinctio expedita ratione!
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque unde ea quo in doloremque
                        excepturi rem, illum, quisquam, magni veritatis quia impedit molestias quam. Eos deleniti fugiat
                        distinctio expedita ratione!
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque unde ea quo in doloremque
                        excepturi rem, illum, quisquam, magni veritatis quia impedit molestias quam. Eos deleniti fugiat
                        distinctio expedita ratione!
                      </p>
                    </div>
                  </div>
                </div>

              </div>
              <div class="sector-card">
                <div class="sector-card__inner">
                  <div class="sector-card__header">
                    <div class="sector-card__title">Assurance et mutuelles</div>
                    <div class="sector-card__img">
                      <img src="img/icons/circle-btn.png" alt="">
                    </div>

                  </div>
                  <div class="sector-card__content ">
                    <div class="sector-card__text">
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque unde ea quo in doloremque
                        excepturi rem, illum, quisquam, magni veritatis quia impedit molestias quam. Eos deleniti fugiat
                        distinctio expedita ratione!
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque unde ea quo in doloremque
                        excepturi rem, illum, quisquam, magni veritatis quia impedit molestias quam. Eos deleniti fugiat
                        distinctio expedita ratione!
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque unde ea quo in doloremque
                        excepturi rem, illum, quisquam, magni veritatis quia impedit molestias quam. Eos deleniti fugiat
                        distinctio expedita ratione!
                      </p>
                    </div>
                  </div>
                </div>

              </div>
              <div class="sector-card">
                <div class="sector-card__inner">
                  <div class="sector-card__header">
                    <div class="sector-card__title">Public</div>
                    <div class="sector-card__img">
                      <img src="img/icons/circle-btn.png" alt="">
                    </div>

                  </div>
                  <div class="sector-card__content ">
                    <div class="sector-card__text">
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque unde ea quo in doloremque
                        excepturi rem, illum, quisquam, magni veritatis quia impedit molestias quam. Eos deleniti fugiat
                        distinctio expedita ratione!
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque unde ea quo in doloremque
                        excepturi rem, illum, quisquam, magni veritatis quia impedit molestias quam. Eos deleniti fugiat
                        distinctio expedita ratione!
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque unde ea quo in doloremque
                        excepturi rem, illum, quisquam, magni veritatis quia impedit molestias quam. Eos deleniti fugiat
                        distinctio expedita ratione!
                      </p>
                    </div>
                  </div>
                </div>

              </div>
              <div class="sector-card">
                <div class="sector-card__inner">
                  <div class="sector-card__header">
                    <div class="sector-card__title">Autres</div>
                    <div class="sector-card__img">
                      <img src="img/icons/circle-btn.png" alt="">
                    </div>

                  </div>
                  <div class="sector-card__content ">
                    <div class="sector-card__text">
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque unde ea quo in doloremque
                        excepturi rem, illum, quisquam, magni veritatis quia impedit molestias quam. Eos deleniti fugiat
                        distinctio expedita ratione!
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque unde ea quo in doloremque
                        excepturi rem, illum, quisquam, magni veritatis quia impedit molestias quam. Eos deleniti fugiat
                        distinctio expedita ratione!
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque unde ea quo in doloremque
                        excepturi rem, illum, quisquam, magni veritatis quia impedit molestias quam. Eos deleniti fugiat
                        distinctio expedita ratione!
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque unde ea quo in doloremque
                        excepturi rem, illum, quisquam, magni veritatis quia impedit molestias quam. Eos deleniti fugiat
                        distinctio expedita ratione!
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="sector__bac-img">
          <img class="sectors-animation_8" src="img/bull_1.png" alt="bull">
        </div>
      </section>


    </div>
  </div>