.sector {
    position: relative;
    background-image: url("../img/bg/sector-active-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {
        padding: 80px 0;

    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        padding: 0;
    }

    &__title {
        color: #fff;
        font-size: 34px;
        text-align: center;
        margin-bottom: 80px;
    }

    &__bac-img {
        position: absolute;
        left: 0;
        top: -60px;
        width: 10%;
        height: 10%;

    }
}

.sector-card {
    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 60px 0 30px 0;
        background-color: rgb(69, 237, 187);

    }

    &__content {
        overflow: hidden;
        background-color: rgb(236, 235, 245);
        margin-top: 1px;
        transition: all 2.5s ease;
        max-height: 0;
    }

    &:hover .sector-card__content {
        max-height: 650px;
    }

    &__title {
        color: #fff;
        font-size: 22px;
        text-align: center;
        margin-bottom: 50px;
    }

    &__text {
        font-size: 14px;
        color: rgb(0, 81, 107);
        line-height: 1.2;
        padding: 30px 15px;


        p {
            margin-bottom: 15px;
        }
    }

    &__list {
        list-style: none;

        li:not(:first-child) {
            margin-top: 0.75rem;
        }
    }
}


@media (max-width: 991px) {
    .sector__list {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
    }
}

@media (max-width: 767px) {
    .sector__list {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 15px;
    }

    .sector-card:hover .sector-card__content {
        height: max-content;
        padding-bottom: 25px;

    }
}