<div class="page__inner">

  <div class="page__content">
    <section class="sector">
      <div class="container">
        <div class="sector__inner">
          <h2 class="sector__title">
            Secteurs d’activites
          </h2>
          <div class="sector__list">
            <div class="sector-card">
              <div class="sector-card__inner">
                <div class="sector-card__header">
                  <div class="sector-card__title">Banque & Finance</div>
                  <div class="sector-card__img">
                    <img src="img/icons/circle-btn.png" alt="">
                  </div>

                </div>
                <div class="sector-card__content ">
                  <div class="sector-card__text">
                    <p>
                      Nos équipes de consulting dédiées aux banques sont la pour aider les entreprises dans leur avenir
                      digital par la refonte de leurs applications critiques, la redéfinition de leurs systèmes
                      d’informations et l’amélioration de l’eficacité opérationnelle.
                    </p>
                    <p>
                      Nous proposons nos services pour toutes les lignes métiers de la banque :
                    </p>
                    <ul class="sector-card__list">
                      <li>
                        • Capital Market
                      </li>
                      <li>
                        • Asset Management
                      </li>
                      <li>
                        • Corporate Finance
                      </li>
                      <li>
                        • Retail banking
                      </li>
                      <li>
                        • Commodities trading
                      </li>
                    </ul>

                  </div>
                </div>
              </div>

            </div>
            <div class="sector-card">
              <div class="sector-card__inner">
                <div class="sector-card__header">
                  <div class="sector-card__title">Assurance et mutuelles</div>
                  <div class="sector-card__img">
                    <img src="img/icons/circle-btn.png" alt="">
                  </div>

                </div>
                <div class="sector-card__content ">
                  <div class="sector-card__text">
                    <p>
                      Nous accompagnons depuis 2018 les assureurs et groupes mutualistes Français à travers l’équipe
                      consulting Assurance. Leur mission, aider les professionnels de l’assurance à améliorer leurs
                      transformations stratégiques, l’implémentation de solutions vendor FO/BO et l’accompagnement sur
                      des méthodes plus agiles.
                    </p>
                  </div>
                </div>
              </div>

            </div>
            <div class="sector-card">
              <div class="sector-card__inner">
                <div class="sector-card__header">
                  <div class="sector-card__title">PUBLICK</div>
                  <div class="sector-card__img">
                    <img src="img/icons/circle-btn.png" alt="">
                  </div>

                </div>
                <div class="sector-card__content ">
                  <div class="sector-card__text">
                    <p>
                      Les services publics se transforment aussi, nous accompagnons des clients tel que Banque de
                      France, BPI ou les administraons à concréser leurs idées des systèmes d’informations plus
                      innovants, plus performant dans le traitement des données, plus sécurisés.
                    </p>
                  </div>
                </div>
              </div>

            </div>
            <div class="sector-card">
              <div class="sector-card__inner">
                <div class="sector-card__header">
                  <div class="sector-card__title">Autres</div>
                  <div class="sector-card__img">
                    <img src="img/icons/circle-btn.png" alt="">
                  </div>

                </div>
                <div class="sector-card__content ">
                  <div class="sector-card__text">
                    <ul class="sector-card__list">
                      <li>
                        • Industrie
                      </li>
                      <li>
                        • Energie
                      </li>
                      <li>
                        • Tourisme
                      </li>
                      <li>
                        • Média
                      </li>
                      <li>
                        • Grande distribution
                      </li>
                    </ul>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="sector__bac-img">
        <img class="sectors-animation_8" src="img/bull_1.png" alt="bull">
      </div>
    </section>


  </div>
</div>