<main class="main">
    @@include("../sections/first-pages/first-carriers.html")

    <section class="amoa">
        <div class="container">
            <div class="amoa__title">AMOA ORIENTED CASH MANAGEMENT
            </div>
            <div class="amoa__subtitle">
                Paris - La Défense</div>
            <div class="amoa__inner">
                <div class="amoa__text">
                    Thrive on beautiful and long projects within GRANDES BANQUES ?! TOP Vendor at Société Générale,
                    listed in list 1 at BNP… That's good, we're recruiting! Here's how you can have a blast 🤪
                    (non-exhaustive list) :
                </div>
                <ul class="amoa__list amoa__functional">
                    <li class="amoa__item-title amoa__item">Functional analysis :</li>
                    <li class="amoa__item">Perform detailed functional analyzes and impact estimates
                    </li>
                    <li class="amoa__item">Analyze, understand and document needs, deliverables
                    </li>
                    <li class="amoa__item">Analyze development requests
                    </li>


                </ul>
                <ul class="amoa__list">
                    <li class="amoa__item-title amoa__item">Recette :

                    </li>
                    <li class="amoa__item">Establish revenue plans

                    </li>
                    <li class="amoa__item">Conduct tests: non-regression, integration and user tests

                    </li>
                    <li class="amoa__item">Write and keep up-to-date documentation for the monitoring of recipes


                    </li>
                </ul>
                <ul class="amoa__list">
                    <li class="amoa__item-title amoa__item">Coordination :

                    </li>
                    <li class="amoa__item">Plan and monitor the work

                    </li>
                    <li class="amoa__item">Make regular and precise reporting on the entrusted activity


                    </li>
                    <li class="amoa__item">Coordinate developments with applications


                    </li>
                    <li class="amoa__item">Coordinate with other ongoing projects



                    </li>
                    <li class="amoa__item">Prepare and participate in meetings around the project and write reports



                    </li>
                    <li class="amoa__item">Respect the group's safety standards


                    </li>
                    <li class="amoa__item">Define and draft documents in accordance with the Corporate Banking
                        process (CMMi)


                    </li>
                    <li class="amoa__item">Document (user guides, configuration guides, project documents, project
                        reporting, etc.)
                    </li>
                </ul>
                <ul class="amoa__list">
                    <li class="amoa__item-title amoa__item">For that you have 😋 :

                    </li>
                    <li class="amoa__item">Knowledge of payment methods: Transfers, Checks, Sepa, Target, Swift MT /
                        MX messages, SCT / SDD, NOSTRI / NOSTRO, Correspondent Banking

                    </li>
                    <li class="amoa__item">Good analytical, editorial and interpersonal skills, you are at ease in
                        leading projects

                    </li>
                    <li class="amoa__item">A good mastery of office automation tool flows.

                    </li>
                </ul>
                <ul class="amoa__list amoa-preferable__list">
                    <li class="amoa__item-title amoa__item">It would also be preferable that :


                    </li>
                    <li class="amoa-preferable__item_1 amoa__item"> You have at least 5 years of experience in Cash
                        Management project management 😁


                    </li>
                    <li class="amoa-preferable__item_2 amoa__item"> Tu sois titulaire d’un BAC+5 – cursus Ingénieur
                        😍
                    </li>
                    <li class="amoa-preferable__item_3 amoa__item"> Tu puisses travailler dans un environnement
                        anglophone.

                    </li>
                </ul>
                <div class="amoa__text">
                    Are you wondering why HIGHFI and not another ESN? Don't look any longer! Joining HIGHFI means
                    joining a human-sized company where we promote proximity with our consultants through
                </div>
                <ul class="amoa__list">
                    <li class=" amoa__item">The setting up of an annual follow-up interview by your Sales
                        representative and your Resource Manager



                    </li>
                    <li class="amoa__item"> Quarterly visits to your sales representative's site



                    </li>
                    <li class="amoa__item"> Rather nice evenings from time to time 🥳



                    </li>
                    <li class="amoa__item"> Our salespeople are really skilled in your job which will avoid casting
                        mistakes for client presentations, no waste of time !
                    </li>
                    <li class="amoa__item">Training once a year after 1 year of seniority

                    </li>
                    <li class="amoa__item"> Nice cooptation bonuses

                    </li>
                    <li class="amoa__item">But not only !
                    </li>
                </ul>
            </div>
        </div>
    </section>




    <section class="spontaneous-form">
        <div class="container">

            <form class="form" action="">
                <div class="form__title">spontaneous application</div>
                <div class="form__inner">
                    <div class="form-input-block">
                        <label class="form-label form-name ">
                            <div class="form-label__title form-name__title">LAST NAME </div>
                            <span class="form-label__input form-name__input ">
                                <input class="form-input" type="text" placeholder="" name="" />
                            </span>
                        </label>
                        <label class="form-label form-name ">
                            <div class="form-label__title form-name__title">FIRST NAME </div>
                            <span class="form-label__input form-name__input ">
                                <input class="form-input" type="text" placeholder="" name="" />
                            </span>
                        </label>
                        <label class="form-label form-email ">
                            <div class="form-label__title form-email__title">FIRST NAME </div>
                            <span class="form-label__input form-email__input ">
                                <input class="form-input" type="text" placeholder="" name="" />
                            </span>
                        </label>
                        <label class="form-label form-email ">
                            <div class="form-label__title form-email__title">FIRST NAME </div>
                            <span class="form-label__input form-email__input ">
                                <input class="form-input" type="text" placeholder="" name="" />
                            </span>
                        </label>

                    </div>
                    <label class="form-label form-label-textarea ">
                        <div class="form-label__title form-textarea__title">Text of request: *</div>
                        <span class="form-label__textarea form-textarea__textarea ">
                            <textarea name="form-textarea" rows="10"></textarea>
                        </span>
                    </label>
                </div>
                <div class="form-btn">
                    <div class="form-btn__attachmants">
                        <a data-fancybox data-touch="false" href="#form-btn__attachmants"
                            class=" btn-attachmants btn-form">
                            <div class="btn__body-wrapp">
                                <div class="btn__body">
                                    <span class="btn__text">add attachments</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="form-btn__postulate">
                        <a class=" btn-postulate btn-form">
                            <div class="btn__body-wrapp">
                                <div class="btn__body">
                                    <span class="btn__text">postulate</span>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <ul class="form__list">
                    <li class="form__item form__item-title">
                        If everything is OK, we meet ?! 😆
                    </li>
                    <li class="form__item">
                        You will be contacted by an HR, following which you: - Receive a phone call from a sales
                        representative
                    </li>
                    <li class="form__item">
                        If everything is OK, we meet ?! 😆
                    </li>


                </ul>
            </form>

        </div>
    </section>



</main>