<div class="container-fluid">
    <div class="section-lab">
        <section class="lab">
            <div class="container">
                <div class="lab__inner">
                    <h2 class="lab__title">
                        Le LAB HIGHFI
                    </h2>
                    <div class="lab__list">
                        <div class="lab-card lab-card_1">
                            <div class="lab-card__inner">
                                <div class="lab-card__header">
                                    <div class="lab-card__title">blockchain</div>


                                </div>
                                <div class="lab-card__content lab-card__content_1">
                                    <div class="lab-card__text ">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                        eget dolor. Aenean
                                        massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                        ridiculus mus. Donec
                                        quam felis, ultricies nec, pellentesque
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="lab-card lab-card_2">
                            <div class="lab-card__inner">
                                <div class="lab-card__header">
                                    <div class="lab-card__title">IA</div>

                                </div>
                                <div class="lab-card__content lab-card__content_2">
                                    <div class="lab-card__text ">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                        eget dolor. Aenean
                                        massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                        ridiculus mus. Donec
                                        quam felis, ultricies nec, pellentesque
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="lab-card lab-card_3">
                            <div class="lab-card__inner">
                                <div class="lab-card__header">
                                    <div class="lab-card__title">RPA</div>


                                </div>
                                <div class="lab-card__content lab-card__content_3">
                                    <div class="lab-card__text ">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                        eget dolor. Aenean
                                        massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                        ridiculus mus. Donec
                                        quam felis, ultricies nec, pellentesque
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="lab-card lab-card_4">
                            <div class="lab-card__inner">
                                <div class="lab-card__header">
                                    <div class="lab-card__title">Deep learning</div>


                                </div>
                                <div class="lab-card__content lab-card__content_4">
                                    <div class="lab-card__text ">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                        eget dolor. Aenean
                                        massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                        ridiculus mus. Donec
                                        quam felis, ultricies nec, pellentesque
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="lab__bac-img">
                <img src="img/collor-ball-left.png" alt="">
            </div>
        </section>
    </div>
</div>