<div class="container-fluid">
    <div class="section-digital">

        <section class="digitall">
            <div class="container">
                <div class="digitall__inner">
                    <div class="digitall__title">DIGIT-ALL <div class="digitall__title-img"><a href=""
                                class="digitall__img">
                                <span class="digitall__icon"></span>
                            </a></div>
                    </div>
                    <div class="digitall__list">
                        <div class="digitall-card digitall-card_1">
                            <div class="digitall-card__inner">
                                <div class="digitall-card__title">IT </div>
                                <div class="digitall-card__img">
                                    <a href="" class="digitall__img">
                                        <span class="digitall__icon"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="digitall-card digitall-card_2">
                            <div class="digitall-card__inner">
                                <div class="digitall-card__title">Infrastructure et production</div>
                                <div class="digitall-card__img">
                                    <a href="" class="digitall__img">
                                        <span class="digitall__icon"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="digitall-card digitall-card_3">
                            <div class="digitall-card__inner">
                                <div class="digitall-card__title">BI et data engineering</div>
                                <div class="digitall-card__img">
                                    <a href="" class="digitall__img">
                                        <span class="digitall__icon"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="digitall-card digitall-card_4">
                            <div class="digitall-card__inner">
                                <div class="digitall-card__title">Business analysis</div>
                                <div class="digitall-card__img">
                                    <a href="" class="digitall__img">
                                        <span class="digitall__icon"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>