<div class="container-fluid">
    <section class="section-our-commitment">
        <div class="container">
            <!-- our-commitment -->
            <div class="our-commitment">
                <h2 class="our-commitment__title">
                    Nos engagements
                    RSE - Corporate Citizenship
                </h2>
                <!-- row -->
                <div class="our-commitment__row">

                    <!-- item -->
                    <div class="our-commmitment__item  column-one-height">
                        <div class="commitment-card column-one-height">
                            <img src="img/icons/env-icon.png" alt="" class="commitment-card__icon">
                            <h3 class="commitment-card__title">
                                Environnement
                            </h3>
                            <div>
                                <img src="img/icons/circle-btn.png" alt="">
                            </div>
                        </div>
                        <div class="commitment-hidden column-one-height">
                            <!-- hidden-list -->
                            <ul class="commitment-hidden__list">
                                <li class="commitment-hidden__li">
                                    • Nous agissons et prenons des mesures pour la planète
                                </li>
                                <li class="commitment-hidden__li">
                                    • Reduction de nos émissions de gaz à effet de serre (déplacement/électricité)
                                </li>
                                <li class="commitment-hidden__li">
                                    • Nous sommes fiers de compt
                                    er plus d’une vingtaine de
                                    nationalités chez nos collabo
                                    rateurs
                                </li>
                                <li class="commitment-hidden__li">
                                    • Eco-gestion de nos fournitures et impressions
                                </li>
                                <li class="commitment-hidden__li">
                                    • Campagnes de recyclage et tri-sélectif
                                </li>
                            </ul>
                            <!-- hidden-list -->
                        </div>
                    </div>
                    <!-- item -->
                    <!-- item -->
                    <div class="our-commmitment__item  column-one-height">
                        <div class="commitment-card column-one-height">
                            <img src="img/icons/social-icon.png" alt="" class="commitment-card__icon">
                            <h3 class="commitment-card__title">
                                Social
                            </h3>
                            <div>
                                <img src="img/icons/circle-btn.png" alt="">
                            </div>
                        </div>
                        <div class="commitment-hidden column-one-height">
                            <!-- hidden-list -->
                            <ul class="commitment-hidden__list">
                                <li class="commitment-hidden__li">
                                    • Egalité des chances, non-
                                    discrimination et insertion
                                    des handicapés
                                </li>
                                <li class="commitment-hidden__li">
                                    • Proposition de contrat de
                                    stage et d’apprentissage pour
                                    nos futures diplômés
                                </li>
                                <li class="commitment-hidden__li">
                                    • Nous sommes fiers de compt
                                    er plus d’une vingtaine de
                                    nationalités chez nos collabo
                                    rateurs
                                </li>
                                <li class="commitment-hidden__li">
                                    • Egalité des traitements Hom
                                    me/Femme, memes
                                    rémunérations, memes
                                    perspectives
                                </li>
                                <li class="commitment-hidden__li">
                                    • Travaillons en partenariat
                                    avec plusieurs EA et ESAT
                                </li>
                                <li class="commitment-hidden__li">
                                    • Signataire du Global Compact
                                </li>
                            </ul>
                            <!-- hidden-list -->
                        </div>
                    </div>
                    <!-- item -->
                    <!-- item -->
                    <div class="our-commmitment__item  column-one-height">
                        <div class="commitment-card column-one-height">
                            <img src="img/icons/network-icon.png" alt="" class="commitment-card__icon">
                            <h3 class="commitment-card__title">
                                Ethique des affaires
                            </h3>
                            <div>
                                <img src="img/icons/circle-btn.png" alt="">
                            </div>
                        </div>
                        <div class="commitment-hidden column-one-height">
                            <!-- hidden-list -->
                            <ul class="commitment-hidden__list">
                                <li class="commitment-hidden__li">
                                    • Faire des affaires légalement et avec intégrité est le fondement de la culture de
                                    notre entreprise
                                </li>
                                <li class="commitment-hidden__li">
                                    • Sensibilisation de nos collaborateurs internes
                                </li>
                                <li class="commitment-hidden__li">
                                    • Partage constant des bonnes pratiques
                                </li>
                            </ul>
                            <!-- hidden-list -->
                        </div>
                    </div>
                    <!-- item -->
                    <!-- item -->
                    <div class="our-commmitment__item  column-one-height">
                        <div class="commitment-card column-one-height">
                            <img src="img/icons/money-icon.png" alt="" class="commitment-card__icon">
                            <h3 class="commitment-card__title">
                                Achats responsables
                            </h3>
                            <div>
                                <img src="img/icons/circle-btn.png" alt="">
                            </div>
                        </div>
                        <div class="commitment-hidden column-one-height">
                            <!-- hidden-list -->
                            <ul class="commitment-hidden__list">
                                <li class="commitment-hidden__li">
                                    • Nous cultivons la culture de l’achat responsable
                                </li>
                                <li class="commitment-hidden__li">
                                    • Achat local et soutien au TPE
                                </li>
                                <li class="commitment-hidden__li">
                                    • Signataire de la charte de la Médiation Relations Fournisseurs et Achats
                                    Responsables
                                </li>
                            </ul>
                            <!-- hidden-list -->
                        </div>
                    </div>
                    <!-- item -->
                </div>
                <!-- row -->
            </div>
            <!-- our-commitment -->
        </div>
    </section>
</div>