.section-our-commitment {
    background-image: url(../img/bg/our-commitment-bg.png);
    background-position: 50% 50%;
    background-size: cover;
    padding: 4rem 0;
}

.our-commitment {

    &__row {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__title {
        text-transform: uppercase;
        text-align: center;
    }




}

.our-commmitment__item {
    position: relative;
    flex-basis: 25%;
}

.commitment-card {
    position: relative;
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: all .35s;

    &__title {
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        font-size: 22px;
    }

    &:hover+ {
        transition: all .35s;

        .commitment-hidden {
            position: relative;
            opacity: 1;
            z-index: 2;
            transform: translateY(-100%) scale(1);
        }
    }

}

.commitment-hidden {
    position: absolute;
    z-index: -1;
    background-color: #006993;
    color: #fff;
    transform: translateY(-100%) scale(0);
    opacity: 0;
    transition: all .35s;



    &:hover {
        position: relative;
        opacity: 1;
        z-index: 2;
        transition: all .35s;
        transform: translateY(-100%) scale(1);
        opacity: 1;
    }

    &__list {
        list-style: none;
        padding: 1.25rem 0.75rem;
    }
}


@media(max-width:768px) {

    .our-commitment {
        &__row {
            flex-direction: column;
        }
    }

    .commitment-card {

        &:hover+ {
            transition: all .35s;

            .commitment-hidden {
                position: relative;
                opacity: 1;
                z-index: 2;
                transform: translateY(10px) scale(1);
            }
        }
    }

    .commitment-hidden {
        &:hover {
            position: relative;
            opacity: 1;
            z-index: 2;
            transition: all .35s;
            transform: translateY(10px) scale(1);
            opacity: 1;
        }
    }


}