<div class="container-fluid">
    <section class="section-our-commitment">
        <div class="our-commitment">
            <h2 class="our-commitmenr__title">
                Nos engagements
                RSE - Corporate Citizenship
            </h2>
            <!-- row -->
            <div class="our-commitment__row">
                <!-- item -->
                <div class="our-commmitment__item commitment-card">
                    <img src="img/icon/env-icon.png" alt="" class="commitment-card__icon">
                    <div class="commitment-card__title">
                        Environnement
                    </div>
                    <div>
                        <img src="img/icon/circle-btn.png" alt="">
                    </div>
                    <div class="commitment-hidden">
                        <!-- hidden-list -->
                        <ul class="commitment-hidden__list">
                            <li class="commitment-hidden__li">
                                • Egalité des chances, non-
                                discrimination et insertion
                                des handicapés
                            </li>
                            <li class="commitment-hidden__li">
                                • Proposition de contrat de
                                stage et d’apprentissage pour
                                nos futures diplômés
                            </li>
                            <li class="commitment-hidden__li">
                                • Nous sommes fiers de compt
                                er plus d’une vingtaine de
                                nationalités chez nos collabo
                                rateurs
                            </li>
                            <li class="commitment-hidden__li">
                                • Egalité des traitements Hom
                                me/Femme, memes
                                rémunérations, memes
                                perspectives
                            </li>
                            <li class="commitment-hidden__li">
                                • Travaillons en partenariat
                                avec plusieurs EA et ESAT
                            </li>
                            <li class="commitment-hidden__li">
                                • Signataire du Global Compact
                            </li>
                        </ul>
                        <!-- hidden-list -->
                    </div>
                </div>
                <!-- item -->
            </div>
            <!-- row -->
        </div>
        <!-- our-commitment -->
    </section>
</div>