//Sections 

@import "modules/layout/sections/neon-ball/neon-ball";

@import "modules/layout/sections/news/news";

@import "modules/layout/sections/carriers-list/carriers";

@import "modules/layout/sections/our-commitment/our-commitment";

@import "modules/layout/sections/sector-activ/sector-activ";


//Parallax

@import "modules/layout/sections/first-pages/animate-about";

@import "modules/layout/sections/first-pages/animate-sectors";

@import "modules/layout/sections/first-pages/animate-news";

@import "modules/layout/sections/first-pages/animate-carriers";



// Blocks

//header
@import "modules/header/header";

//carriers form
@import "modules/carriers-form/form";

//btn
@import "modules/btn/btn";

//first-page 
@import "modules/first-pages/first-page";

//left-text
@import "modules/left-text/left-text";

//right-text
@import "modules/right-text/right-text";

//news
@import "modules/news/news";


//run-num
@import "modules/run-num/run-num";


//news
@import "modules/clients/clients";

//footer
@import "modules/footer/footer";





//прижатый футер
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

.main {
    display: block;
    width: 100%;
    flex: 1 0 auto;
}

.footer {
    width: 100%;
    flex: 0 0 auto;
}