<div class="container-fluid">
    <div class="right-text">
        <div class="container">
            <!-- row -->
            <div class="right-text__row">
                <!-- item -->
                <div class="right-text__item right-text-img">
                    <img class="right-text__img   wow animate__animated animate__flipInY animate__delay-1s"
                        src="img/expertise.png" alt="">
                </div>
                <!-- item -->
                <div
                    class="right-text__item right-text-content wow animate__animated animate__fadeInRight animate__delay-1s">
                    <div class="right-text-title-icon">
                        <!-- icon -->

                        <img src="img/icons/medal-icon.png" alt=""
                            class="right-text-content__icon animate__animated animate__heartBeat animate__delay-2s">

                        <!-- title -->
                        <h2 class="right-text-content__title">
                            <span class="right-text-content__title-span">
                                expertise
                            </span>
                        </h2>
                    </div>
                    <!-- text -->
                    <p class="right-text-content__text">
                        <img class="right-text__img" src="img/expertise.png" alt="">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                        rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                        Integer tincidunt.

                    </p>
                </div>
                <!-- item -->
            </div>
            <!-- row -->
        </div>


        <img class="first-page__animation first-page__animation_expertise animate__animated animate__fadeInLeft"
            src="img/animation-1/block_4.png" alt="">

        <img class="first-page__animation  first-page__animation_expertise-2 animate__animated animate__zoomInRight animate__delay-2s"
            src="img/animation-1/block_7.png" alt="">
    </div>
</div>






