.carriers-form-wrap {
    position: relative;
    z-index: 20;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
}

.carriers-form {
    display: flex;
    gap: 25px;
    &__input {
        border: none;
        border-bottom: 2px solid #006993;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.25rem;
        outline: none;
        background-color: transparent;

        &:focus {
            border-bottom: 3px solid #006993;
        }
    }

}

@media(max-width:768px) {
    .carriers-form {
        flex-direction: column;
        width: 100%;
        max-width: 420px;
    }

    &__input:nth-child(2) {
        margin-top: 1.5rem 0;
    }
}