.section-clients {
    background-color: #fff;
}
.swiper-wrapper {
    display: flex;
    min-width: 0;
    padding: 3rem 0;
}

.swiper-slide {
    min-width: 0;
    display: flex;
    justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
    font-size: 0;
    display: none;
}

.slider-logo {
    width: 120px;
    height: 60px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}