<div class="container-fluid">
    <div class="neon-ball-bg">
        <div class="container" style="display: flex; justify-content: center;">
            <div class="neon-ball">
                <!-- row -->
                <div class="neon-ball__row">
                    <!-- item -->
                    <div class="neon-ball__item   neon-ball__item_1  neon-ball__item_text-left">
                        <div class="neon-ball__icon-wrap neon-ball__icon-wrap_1">
                            <img class="neon-ball__icon" src="img/neon-dot.png" alt="">
                        </div>
                        <span class="neon-ball__text neon-ball__text_1">EQUITE</span>
                    </div>
                    <!-- item -->
                    <!-- item -->
                    <div class="neon-ball__item  neon-ball__item_2   neon-ball__item_text-top">
                        <div class="neon-ball__icon-wrap neon-ball__icon-wrap_2">
                            <img class="neon-ball__icon" src="img/neon-dot.png" alt="">

                        </div>
                        <span class="neon-ball__text">TRANSPARENCE</span>
                    </div>
                    <!-- item -->
                    <!-- item -->
                    <div class="neon-ball__item  neon-ball__item_3   neon-ball__item_text-right">
                        <div class="neon-ball__icon-wrap neon-ball__icon-wrap_3">
                            <img class="neon-ball__icon" src="img/neon-dot.png" alt="">
                        </div>

                        <span class="neon-ball__text">QUALITE</span>
                    </div>
                    <!-- item -->
                </div>
                <!-- row -->

                <!-- row -->
                <div class="neon-ball__row">
                    <!-- item -->
                    <div class="neon-ball__item  neon-ball__item_perf  neon-ball__item_text-bottom">
                        <div class="neon-ball__icon-wrap neon-ball__icon-wrap_4">
                            <img class="neon-ball__icon" src="img/neon-dot.png" alt="">

                        </div>
                        <span class="neon-ball__text">PERFORMANCE</span>
                    </div>
                    <!-- item -->
                    <!-- item -->
                    <div class="neon-ball__item">
                        <h2 class="neon-ball__title">
                          <span  class="neon-ball__title-text">
                            MOTS D’ORDRES
                          </span>
                        </h2>
                    </div>
                    <!-- item -->
                    <!-- item -->
                    <div class="neon-ball__item  neon-ball__item_per   neon-ball__item_text-bottom">
                        <div class="neon-ball__icon-wrap neon-ball__icon-wrap_5">
                            <img class="neon-ball__icon" src="img/neon-dot.png" alt="">
                        </div>
                        <span class="neon-ball__text">PERENITE</span>
                    </div>
                    <!-- item -->
                </div>
                <!-- row -->

            </div>
        </div>
    </div>
</div>