.footer {
    background-image: url(../img/bg/footer-bg.png);
    background-size: cover;
    background-position: 50% 50%;
    padding: 4rem 0;
    color: #00516b;


    &__title {
        position: relative;
        z-index: 10;
        color: #fff;
        font-family: $textFont;
        font-size: 28px;
        letter-spacing: .35px;
    }

    &__row {
        position: relative;
        z-index: 20;
        display: flex;
        margin-top: 3rem;
        justify-content: space-between;

    }

    &__item {
        flex-basis: calc(50% - 40px)
    }

    &__link-div {
        margin-top: 2rem;
    }

    &__link {
        color: #00516b;
        text-decoration: none;
    }
}


.rules {
    position: relative;
    z-index: 10;
    text-align: center;
    border-top: 1px solid #fff;
    padding-top: 3rem;
    margin-top: 1.5rem;
}






.footer-animate {
    position: relative;

    &__img {
        max-width: 300px;
        position: absolute;
        z-index: 1;

        &_1 {
            left: -150px;
            top: -100px;
        }

        &_2 {
            right: 20%;
            top: 30px;
        }

        &_3 {
            top: 0;
            right: -150px;
            transform: rotate(-50deg);
            max-width: 200px;
        }

        &_4 {
            bottom: 40%;
            left: 15px;
        }

        &_5 {
            right: 10px;
            bottom: 0;
        }
    }


}

@media(max-width:768px) {
    .footer-animate {
        &__img {

            &_1 {
                top: 0;
            }
            &_4 {
                left: 50%;
            }
        }
    }

    .rules {
        color: #fff;
    }
}

@media(max-width:550px) {
    .footer {
        &__row {
            flex-direction: column;
        }

        &__item:last-child {
            margin-top: 3rem;
        }
    }
}