<div class="container-fluid">
    <section class="section-carriers">
            <div class="carriers-choise">
                <a  class="carriers-choise__link carriers-choise__link_active"href="#" class="btn main-btn_blue">
                    Consulting                 
                </a href="#">
                <a class="carriers-choise__link" href="#">
                    Business development  
                </a href="#">
                <a class="carriers-choise__link" href="#">
                    HR
                </a href="#">
            </div>
            <div class="carriers">
                
            </div>
    </section>
</div>