<div class="container-fluid">
    <section class="section-carriers">
        <img class="about-animation about-animation_6  animate__animated animate__zoomInUp animate__delay-1s"
            src="img/animation-about/single-ball.png" alt="">
        <div class="container">
            <div class="carriers-choise">

                <a class="carriers-choise__link carriers-choise__link_active active" 
                    data-tab="consulting">
                    Consulting
                </a>

                <a class="carriers-choise__link" data-tab="development">
                    Business development
                </a>

                <a class="carriers-choise__link" data-tab="hr">
                    HR
                </a>

            </div>

            <div id="consulting" class="carriers">
                <!-- row -->
                <div class="carriers__row">
                    <!-- item -->
                    <div class="carriers__item carriers-item">
                        <h3 class="carriers-item__title">
                            News Title - 1
                        </h3>
                        <h4 class="carriers-item__h4">
                            Fonctions:
                        </h4>
                        <p class="carriers-item__text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.

                        </p>
                        <div class="carriers-item__btn">
                            <a class="btn main-btn_blue" href="#">
                                more details
                            </a>
                        </div>
                    </div>
                    <!-- item -->
                    <!-- item -->
                    <div class="carriers__item carriers-item">
                        <h3 class="carriers-item__title">
                            News Title - 1
                        </h3>
                        <h4 class="carriers-item__h4">
                            Fonctions:
                        </h4>
                        <p class="carriers-item__text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.

                        </p>
                        <div class="carriers-item__btn">
                            <a class="btn main-btn_blue" href="#">
                                more details
                            </a>
                        </div>
                    </div>
                    <!-- item -->
                </div>
                <!-- row -->
                <!-- row -->
                <div class="carriers__row">
                    <!-- item -->
                    <div class="carriers__item carriers-item">
                        <h3 class="carriers-item__title">
                            News Title - 1
                        </h3>
                        <h4 class="carriers-item__h4">
                            Fonctions:
                        </h4>
                        <p class="carriers-item__text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.

                        </p>
                        <div class="carriers-item__btn">
                            <a class="btn main-btn_blue" href="#">
                                more details
                            </a>
                        </div>
                    </div>
                    <!-- item -->
                    <!-- item -->
                    <div class="carriers__item carriers-item">
                        <h3 class="carriers-item__title">
                            News Title - 1
                        </h3>
                        <h4 class="carriers-item__h4">
                            Fonctions:
                        </h4>
                        <p class="carriers-item__text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.

                        </p>
                        <div class="carriers-item__btn">
                            <a class="btn main-btn_blue" href="#">
                                more details
                            </a>
                        </div>
                    </div>
                    <!-- item -->
                </div>
                <!-- row -->
                <!-- row -->
                <div class="carriers__row">
                    <!-- item -->
                    <div class="carriers__item carriers-item">
                        <h3 class="carriers-item__title">
                            News Title - 1
                        </h3>
                        <h4 class="carriers-item__h4">
                            Fonctions:
                        </h4>
                        <p class="carriers-item__text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.

                        </p>
                        <div class="carriers-item__btn">
                            <a class="btn main-btn_blue" href="#">
                                more details
                            </a>
                        </div>
                    </div>
                    <!-- item -->
                    <!-- item -->
                    <div class="carriers__item carriers-item">
                        <h3 class="carriers-item__title">
                            News Title - 1
                        </h3>
                        <h4 class="carriers-item__h4">
                            Fonctions:
                        </h4>
                        <p class="carriers-item__text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.

                        </p>
                        <div class="carriers-item__btn">
                            <a class="btn main-btn_blue" href="#">
                                more details
                            </a>
                        </div>
                    </div>
                    <!-- item -->
                </div>
                <!-- row -->

            </div>

            <div id="development" class="carriers">
                <!-- row -->
                <div class="carriers__row">
                    <!-- item -->
                    <div class="carriers__item carriers-item">
                        <h3 class="carriers-item__title">
                            News Title - 1
                        </h3>
                        <h4 class="carriers-item__h4">
                            Fonctions:
                        </h4>
                        <p class="carriers-item__text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.

                        </p>
                        <div class="carriers-item__btn">
                            <a class="btn main-btn_blue" href="#">
                                more details
                            </a>
                        </div>
                    </div>
                    <!-- item -->
                    <!-- item -->
                    <div class="carriers__item carriers-item">
                        <h3 class="carriers-item__title">
                            News Title - 1
                        </h3>
                        <h4 class="carriers-item__h4">
                            Fonctions:
                        </h4>
                        <p class="carriers-item__text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.

                        </p>
                        <div class="carriers-item__btn">
                            <a class="btn main-btn_blue" href="#">
                                more details
                            </a>
                        </div>
                    </div>
                    <!-- item -->
                </div>
                <!-- row -->
                <!-- row -->
                <div class="carriers__row">
                    <!-- item -->
                    <div class="carriers__item carriers-item">
                        <h3 class="carriers-item__title">
                            News Title - 1
                        </h3>
                        <h4 class="carriers-item__h4">
                            Fonctions:
                        </h4>
                        <p class="carriers-item__text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.

                        </p>
                        <div class="carriers-item__btn">
                            <a class="btn main-btn_blue" href="#">
                                more details
                            </a>
                        </div>
                    </div>
                    <!-- item -->
                    <!-- item -->
                    <div class="carriers__item carriers-item">
                        <h3 class="carriers-item__title">
                            News Title - 1
                        </h3>
                        <h4 class="carriers-item__h4">
                            Fonctions:
                        </h4>
                        <p class="carriers-item__text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.

                        </p>
                        <div class="carriers-item__btn">
                            <a class="btn main-btn_blue" href="#">
                                more details
                            </a>
                        </div>
                    </div>
                    <!-- item -->
                </div>
                <!-- row -->
                <!-- row -->
                <div class="carriers__row">
                    <!-- item -->
                    <div class="carriers__item carriers-item">
                        <h3 class="carriers-item__title">
                            News Title - 1
                        </h3>
                        <h4 class="carriers-item__h4">
                            Fonctions:
                        </h4>
                        <p class="carriers-item__text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.

                        </p>
                        <div class="carriers-item__btn">
                            <a class="btn main-btn_blue" href="#">
                                more details
                            </a>
                        </div>
                    </div>
                    <!-- item -->
                    <!-- item -->
                    <div class="carriers__item carriers-item">
                        <h3 class="carriers-item__title">
                            News Title - 1
                        </h3>
                        <h4 class="carriers-item__h4">
                            Fonctions:
                        </h4>
                        <p class="carriers-item__text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.

                        </p>
                        <div class="carriers-item__btn">
                            <a class="btn main-btn_blue" href="#">
                                more details
                            </a>
                        </div>
                    </div>
                    <!-- item -->
                </div>
                <!-- row -->

            </div>

            <div id="hr" data-tab="hr" class="carriers">
                <!-- row -->
                <div class="carriers__row">
                    <!-- item -->
                    <div class="carriers__item carriers-item">
                        <h3 class="carriers-item__title">
                            News Title - 1
                        </h3>
                        <h4 class="carriers-item__h4">
                            Fonctions:
                        </h4>
                        <p class="carriers-item__text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.

                        </p>
                        <div class="carriers-item__btn">
                            <a class="btn main-btn_blue" href="#">
                                more details
                            </a>
                        </div>
                    </div>
                    <!-- item -->
                    <!-- item -->
                    <div class="carriers__item carriers-item">
                        <h3 class="carriers-item__title">
                            News Title - 1
                        </h3>
                        <h4 class="carriers-item__h4">
                            Fonctions:
                        </h4>
                        <p class="carriers-item__text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.

                        </p>
                        <div class="carriers-item__btn">
                            <a class="btn main-btn_blue" href="#">
                                more details
                            </a>
                        </div>
                    </div>
                    <!-- item -->
                </div>
                <!-- row -->
                <!-- row -->
                <div class="carriers__row">
                    <!-- item -->
                    <div class="carriers__item carriers-item">
                        <h3 class="carriers-item__title">
                            News Title - 1
                        </h3>
                        <h4 class="carriers-item__h4">
                            Fonctions:
                        </h4>
                        <p class="carriers-item__text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.

                        </p>
                        <div class="carriers-item__btn">
                            <a class="btn main-btn_blue" href="#">
                                more details
                            </a>
                        </div>
                    </div>
                    <!-- item -->
                    <!-- item -->
                    <div class="carriers__item carriers-item">
                        <h3 class="carriers-item__title">
                            News Title - 1
                        </h3>
                        <h4 class="carriers-item__h4">
                            Fonctions:
                        </h4>
                        <p class="carriers-item__text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.

                        </p>
                        <div class="carriers-item__btn">
                            <a class="btn main-btn_blue" href="#">
                                more details
                            </a>
                        </div>
                    </div>
                    <!-- item -->
                </div>
                <!-- row -->
                <!-- row -->
                <div class="carriers__row">
                    <!-- item -->
                    <div class="carriers__item carriers-item">
                        <h3 class="carriers-item__title">
                            News Title - 1
                        </h3>
                        <h4 class="carriers-item__h4">
                            Fonctions:
                        </h4>
                        <p class="carriers-item__text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.

                        </p>
                        <div class="carriers-item__btn">
                            <a class="btn main-btn_blue" href="#">
                                more details
                            </a>
                        </div>
                    </div>
                    <!-- item -->
                    <!-- item -->
                    <div class="carriers__item carriers-item">
                        <h3 class="carriers-item__title">
                            News Title - 1
                        </h3>
                        <h4 class="carriers-item__h4">
                            Fonctions:
                        </h4>
                        <p class="carriers-item__text">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.
                            <br><br>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus
                            mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                            massa
                            quis enim.

                        </p>
                        <div class="carriers-item__btn">
                            <a class="btn main-btn_blue" href="#">
                                more details
                            </a>
                        </div>
                    </div>
                    <!-- item -->
                </div>
                <!-- row -->

            </div>



        </div>
    </section>
</div>