<div id="development2" class="carriers">
    <!-- row -->
    <div class="carriers__row">
        <!-- item -->
        <div class="carriers__item carriers-item">
            <h3 class="carriers-item__title">
                dev - 2
            </h3>
            <h4 class="carriers-item__h4">
                Fonctions:
            </h4>
            <p class="carriers-item__text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                massa
                quis enim.
                <br><br>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                massa
                quis enim.

            </p>
            <div class="carriers-item__btn">
                <a class="btn main-btn_blue" href="#">
                    more details
                </a>
            </div>
        </div>
        <!-- item -->
        <!-- item -->
        <div class="carriers__item carriers-item">
            <h3 class="carriers-item__title">
                dev - 2
            </h3>
            <h4 class="carriers-item__h4">
                Fonctions:
            </h4>
            <p class="carriers-item__text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                massa
                quis enim.
                <br><br>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                massa
                quis enim.

            </p>
            <div class="carriers-item__btn">
                <a class="btn main-btn_blue" href="#">
                    more details
                </a>
            </div>
        </div>
        <!-- item -->
    </div>
    <!-- row -->
    <!-- row -->
    <div class="carriers__row">
        <!-- item -->
        <div class="carriers__item carriers-item">
            <h3 class="carriers-item__title">
                News Title - 1
            </h3>
            <h4 class="carriers-item__h4">
                Fonctions:
            </h4>
            <p class="carriers-item__text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                massa
                quis enim.
                <br><br>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                massa
                quis enim.

            </p>
            <div class="carriers-item__btn">
                <a class="btn main-btn_blue" href="#">
                    more details
                </a>
            </div>
        </div>
        <!-- item -->
        <!-- item -->
        <div class="carriers__item carriers-item">
            <h3 class="carriers-item__title">
                News Title - 1
            </h3>
            <h4 class="carriers-item__h4">
                Fonctions:
            </h4>
            <p class="carriers-item__text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                massa
                quis enim.
                <br><br>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                massa
                quis enim.

            </p>
            <div class="carriers-item__btn">
                <a class="btn main-btn_blue" href="#">
                    more details
                </a>
            </div>
        </div>
        <!-- item -->
    </div>
    <!-- row -->
    <!-- row -->
    <div class="carriers__row">
        <!-- item -->
        <div class="carriers__item carriers-item">
            <h3 class="carriers-item__title">
                News Title - 1
            </h3>
            <h4 class="carriers-item__h4">
                Fonctions:
            </h4>
            <p class="carriers-item__text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                massa
                quis enim.
                <br><br>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                massa
                quis enim.

            </p>
            <div class="carriers-item__btn">
                <a class="btn main-btn_blue" href="#">
                    more details
                </a>
            </div>
        </div>
        <!-- item -->
        <!-- item -->
        <div class="carriers__item carriers-item">
            <h3 class="carriers-item__title">
                News Title - 1
            </h3>
            <h4 class="carriers-item__h4">
                Fonctions:
            </h4>
            <p class="carriers-item__text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                massa
                quis enim.
                <br><br>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus
                mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                massa
                quis enim.

            </p>
            <div class="carriers-item__btn">
                <a class="btn main-btn_blue" href="#">
                    more details
                </a>
            </div>
        </div>
        <!-- item -->
    </div>
    <!-- row -->

    <div class="pagination">
        <a class="carriers-choise__link carriers-choise__link_active-pagination" href="#pagination-anchor"
            class="btn main-btn_blue" data-tab="development">
            1
        </a>
        <a class="carriers-choise__link" href="#pagination-anchor" class="btn main-btn_blue" data-tab="development2">
            2
        </a>
        <a class="carriers-choise__link" href="#pagination-anchor" class="btn main-btn_blue" data-tab="development3">
            3
        </a>
    </div>

</div>